<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="3CommasApiKey" value="" />
    <add key="3CommasSecret" value="" />
    <add key="BinanceApiKey" value="" />
    <add key="BinanceSecret" value="" />
    <add key="HuobiApiKey" value="" />
    <add key="HuobiSecret" value="" />
  </appSettings>
</configuration>